---
import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.astro'
---

<Layout title="Home">
    <Section>
        <div></div>
    </Section>
    <Section>
        <div></div>
    </Section>
</Layout>
