---
import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.astro'
---

<Layout title="Home">
    <Section>
        <h1>Hey</h1>
        <div> Goodbye </div>
    </Section>
    <Section>
        <h1>Hey</h1>
        <div>Goodbye</div>
    </Section>
</Layout>
