---
import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.astro'
import ProjectCard from '../components/ProjectCard.astro'
---

<Layout title="Home">
    <Section id="about">
        <div class="about-wrapper">
            <h1>About</h1>
            <p> 
                My name's Victor Schweitz, a 24 year old MMD student at KEA with a big passion for frontend web development and developing my skills in that field.
            </p>
        </div>
        <img src="src/images/profile_image.jpg" class="profile-image" alt="profile_image">

    </Section>


    <Section id="skills">
        <div class="skills-wrapper">
            <h1>Skills</h1>
            <p>
                I have worked with a couple of different and relevant technologies throughout my study, which can be seen in the list.
                It's no problem if you use something different, since I'm always up for learning something new.
            </p>
        </div>
        <div>
            <ul class="skills-list">
                <div class="overlay"></div>
                <li class="fluent" title="html">
                    HTML
                </li>
                <li class="fluent" title="css">
                    CSS
                </li>
                <li class="more-to-learn" title="js">
                    JavaScript
                </li>
                <li class="beginner" title="astro">
                    Astro
                </li>
                <li class="beginner" title="supabase">
                    Supabase
                </li>
                <li class="more-to-learn" title="github">
                    Git/Github
                </li>
            </ul>

            <div class="list-explanation">
                <small class="beginner">Beginner</small>
                <small class="more-to-learn">More to learn</small>
                <small class="fluent">Fluent</small>
            </div>
        </div>
    </Section>

    <Section id="projects">
        <div>
            <h1>Projects</h1>
            <p>
                I have made a few projects to show off my skills. You can explore them from the cards underneath:
            </p>
        </div>

        <ProjectCard />
    </Section>
</Layout>


<style>
    .profile-image
    {
        max-height: 300px;
        max-width: 60vw;
        border-radius: 10px;
        object-fit: cover;
    }


    .skills-list
    {
        position: relative;
        display: grid;
        place-content: center;
        gap: 20px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        color: var(--skills-list-color);
        background-color: var(--skills-list-background-color);
        height: fit-content;
        padding: 40px 0;
        width: 80vw;
        max-width: 300px;
        border-radius: var(--base-border-radius);
        box-shadow: var(--box-shadow);
        
        & li
        {
            font-size: var(--li-font-size);
            z-index: 10000;
            cursor: pointer;
        }
    }

    .list-explanation
    {
        font-family: 'Roboto', sans-serif;
        display: flex;
        justify-content: space-around;
        margin-top: 7px;
        font-size: var(--small-font-size);
    }

    small
    {
        cursor: pointer;
    }
  

    @media screen and (min-width: 768px)
    {
        .profile-image
        {
            height: 300px;
            width: 300px;
        }
    }
</style>


<script>

    const skillsList = document.querySelector('.skills-list') as HTMLElement
    const overlay = document.querySelector('.overlay') as HTMLElement

    skillsList.addEventListener('mouseover', (e) => showTechnologyLogo(e))

    function showTechnologyLogo(e)
    {
        if(e.target.matches('li'))
        {
            skillsList.style.background = `url(src/images/technology_logos/${e.target.title}.png)`
            skillsList.style.backgroundRepeat = 'no-repeat'
            skillsList.style.backgroundPosition = 'center center'
            skillsList.style.backgroundSize = '200px 200px'
            overlay.classList.add('overlay-active')
        }
        else
        {
            skillsList.style.background = 'var(--skills-list-background-color)'
            skillsList.style.color = '#fff'
            overlay.classList.remove('overlay-active')
        }
    }
</script>