---
import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.astro'

---

<Layout title="Home">
    <Section id="about">
        <div>
            <h1>About</h1>
            <p> 
                My name's Victor Schweitz, a 24 year old MMD student at KEA with a big passion for frontend web development and developing my skills in that field.
            </p>
        </div>
        <img src="src/images/profile_image.jpg" class="profile-image" alt="profile_image">

    </Section>


    <Section id="skills">
        <div>
            <h1>Skills</h1>
            <p>
                I have worked with a couple of different and relevant technologies throughout my study, which can be seen in the list.
                It's no problem if you use something different, since I'm always up for learning something new.
            </p>
        </div>
        <div>
            <ul class="skills-list">
                <div class="overlay"></div>
                <li class="fluent" title="html">
                    HTML
                </li>
                <li class="fluent" title="css">
                    CSS
                </li>
                <li class="more-to-learn" title="js">
                    JavaScript
                </li>
                <li class="beginner" title="astro">
                    Astro
                </li>
                <li class="beginner" title="supabase">
                    Supabase
                </li>
            </ul>

            <div class="list-explanation">
                <small class="beginner">Beginner</small>
                <small class="more-to-learn">More to learn</small>
                <small class="fluent">Fluent</small>
            </div>
        </div>
    </Section>

    <Section id="projects">
        <div>
            <h1>Skills</h1>
            <p>
                I have worked with a couple of different and relevant technologies throughout my study, which can be seen in the list.
                It's no problem if you use something different, since I'm always up for learning something new.
            </p>
        </div>
        <div>
            <p>
                I have worked with a couple of different and relevant technologies throughout my study, which can be seen in the list.
                It's no problem if you use something different, since I'm always up for learning something new.
            </p>
        </div>
    </Section>
</Layout>


<style>
    .profile-image
    {
        clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
        height: 200px;
        width: 200px;
        border-radius: 10px;
    }


    .skills-list
    {
        position: relative;
        display: grid;
        place-content: center;
        gap: 20px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        color: var(--skills-list-color);
        background-color: var(--skills-list-background-color);
        height: 300px;
        width: 80vw;
        max-width: 300px;
        border-radius: var(--base-border-radius);
        box-shadow: var(--box-shadow);
        
        & li
        {
            font-size: var(--li-font-size);
            z-index: 10000;
            cursor: pointer;
        }
    }

    .list-explanation
    {
        font-family: 'Roboto', sans-serif;
        display: flex;
        justify-content: space-around;
        margin-top: 7px;
        font-size: var(--small-font-size);
    }

    @media screen and (min-width: 768px)
    {
        .profile-image
        {
            height: 300px;
            width: 300px;
        }
    }
</style>


<script>
    const skillsList = document.querySelector('.skills-list') as HTMLElement
    const overlay = document.querySelector('.overlay') as HTMLElement

    skillsList.addEventListener('mouseover', (e) => showTechnologyLogo(e))


    function showTechnologyLogo(e)
    {
        if(e.target.matches('li'))
        {
            skillsList.style.background = `url(src/images/technology_logos/${e.target.title}.png)`
            skillsList.style.backgroundRepeat = 'no-repeat'
            skillsList.style.backgroundPosition = 'center center'
            skillsList.style.backgroundSize = '200px 200px'
            overlay.classList.add('overlay-active')
        }
        else
        {
            skillsList.style.background = 'var(--skills-list-background-color)'
            skillsList.style.color = '#fff'
            overlay.classList.remove('overlay-active')
        }
    }
</script>