---
import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.astro'
---

<Layout title="Home">
    <Section>
        <div> Hey </div>
        <div> Hey </div>
    </Section>
    <Section>
        <div>Hey</div>
        <div>Hey</div>
    </Section>
</Layout>
