---
import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.astro'
---

<Layout title="Home">
    <Section id="about">
        <div>
            <h1>About</h1>
            <p> 
                Hey
            </p>
        </div>
        <div> 
            Fill me out
        </div>
    </Section>
    <Section id="skills">
        <div>
            <h1>About</h1>
            <p>
                Hey
            </p>
        </div>
        <div>
            Fill me out
        </div>
    </Section>

    <Section id="projects">
        <div>
            <h1>About</h1>
            <p>
                Hey
            </p>
        </div>
        <div>
            Fill me out
        </div>
    </Section>

    
</Layout>
