@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root
{
   /* FONT SIZES */
   --heading-one-font-size: calc(1rem + clamp(1.5625rem, 3.5rem + -2.5vw, 3rem));
   --paragraph-font-size: clamp(1rem, 0.913rem + 0.4348vw, 2rem);

   /* COLORS */

   /* Section Colors */
   --odd-section-background-color: #0f9bc9;
   --odd-section-text-color: #fff;
   --even-section-background-color: #fff;
   --even-section-text-color: #0f9bc9;
   --even-section-paragraph-color: #8db5c2;

   /* Naivgation */
   --even-link-color: #fff;
   --odd-link-color: #8db5c2;
}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    user-select: none;
}

html
{
    
}

body
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    counter-reset: section;
}

main
{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

h1
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: var(--heading-one-font-size, 40px);
}

h1::before
{
    content: "0" counter(section) " ";
    counter-increment: section;
    font-size: 1.8rem;
    margin-right: 5px;
}

section:nth-child(even)
{
    & h1
    {
        border-bottom: 2px solid var(--even-section-text-color);
    }
}

section:nth-child(odd)
{
    & h1
    {
        border-bottom: 2px solid var(--odd-section-text-color);
    }
}

p
{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    line-height: 1.6;
    font-size: var(--paragraph-font-size, 22px);
}

li
{
    list-style: none;
}

a
{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}