---
const currentPage = new URL(Astro.request.url).hash
---

<nav class="main-nav" id="main_nav">
    <a href="#about">
        <h2 class="logo">
            VS
        </h2>
    </a>

   

    <ul>
        <li>
            <a href="#about" class={currentPage === '#about' ? 'active' : ''}>01</a>
        </li>
        <li>
            <a href="#skills" class={currentPage === '#skills' ? 'active' : ''}>02</a>
        </li>
        <li>
            <a href="#projects" class={currentPage === '#projects' ? 'active' : ''}>03</a>
        </li>
    </ul>
</nav>

<style>
      nav
    {
            position: fixed;
            height: 70px;
            width: 100vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 40px;
            z-index: 1000;

            & a h2.logo
            {
                display: block;
                color: #fff;
            }


            & ul li
            {
                display: inline-flex;
            }

            & ul li:not(:last-child)
            {
                margin-right: 20px;
            }

        }
       

        & ul li a
        {
            display: inline-block;
            color: var(--even-link-color);
            font-size: 1.3rem;
            transition: font-size .3s ease-in;

            &.active
            {
                font-size: 1.8rem;
                transition: font-size .3s ease-in;
            }
        }
    }
</style>

<script>

  
</script>