---
const {className, id} = Astro.props
---

<section class={className} id={id}>
    <div class="section-wrapper">
        <slot />
    </div>
</section>


<style>
    section
    {
       
        height: 100vh;
        width: 100vw;
        
        scroll-snap-align: start;
        scroll-snap-stop: always;

        .section-wrapper > div h1
        {
            text-align: center;            
        }
  

        &:is(:nth-child(even), :nth-child(odd)) > div
        {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 60px;
            height: inherit;
            width: inherit;
            flex: 1;
            padding: 0 40px;
        }

        &:nth-child(odd) > div
        {
            order: -1;
            background-color: var(--odd-section-background-color);
            color: var(--odd-section-text-color);
        }

        &:nth-child(even) > div
        {
            background-color: var(--even-section-background-color);
            color: var(--even-section-text-color);
            /* text-align: right; */

            & p
            {
                color: var(--even-section-paragraph-color);
            }
        }
    }

   
    @media screen and (min-width: 768px)
    {
        section:is(:nth-child(odd), :nth-child(even)) > div
        {
            flex-direction: row;
            justify-content: space-around;
            /* gap: -40px; */
        }

        section:nth-child(odd) > div
        {
            text-align: left;
        }
        
        section:nth-child(even) > div
        {
            /* text-align: right; */
        }
    }
</style>


